@font-face{font-family: cicle; src: url('../fonts/Cicle-Fina.ttf');}
body{background-color:#212529 !important; color:#fff !important; font-family:cicle !important;}

/* Configuração para mobile first ==Resoluções de 350px á 500px*/
@media  (max-width: 700px){.main{background-color:red; margin: 10px;}}



