@font-face{font-family: cicle; src: url('../fonts/Cicle-Fina.ttf');}
body{background-color:#212529 !important; color:#fff !important; font-family:cicle !important;}

/* Configuração para mobile first ==Resoluções de 350px á 700px*/
@media(max-width: 700px){.main{margin: 10px;}}
@media(max-width:700px){.main form label .campoCadastro{border-left: none;border-right: none;border-top:none;border-bottom: solid 0.1px #ccc; background: none;}}

@media(max-width:700px){.main form label .campoCadastro ::-webkit-input-placeholder{color:#fff;}}






